.wrapper {
    font-family: 'Roboto', sans-serif;
   font-size: x-large;
   background-color: #f0f0f0;
}

.main-grid {
    padding: 0.1%;
    display: grid;
    row-gap: 2%;
    grid-template-columns: 1fr 5fr;
    /* grid-template-rows: repeat(1, 1fr); */
}

.nav-item {
    padding: 10px;
}

nav {
    grid-column: 1;
    grid-row: 1/ 3;
    background-color: cornflowerblue;
    color: white;
}

.dashboard {
    padding-bottom: 20%;
} 
.communities {
    padding-bottom: 20%;
}

.header-sect {
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3);
}
.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: white;
    padding: 20px;
}
.input {
    display: flex;
    justify-content: end;
    align-items: center;
}
input {
    width: 65%;
    height: 18%;
    border-radius: 1rem;
    border: none;
    background-color: rgb(172, 172, 172);
}

.top-right-name {
    display: flex;
    align-items: center;
    justify-content: end;
}

.big-name {
    display: flex;
    flex-direction: column;
    justify-content: end; 
}
.bold {
    font-weight: bold;
}

.header-child-btn {
    align-self: end;
    justify-self: end;
}


.btn {
    height: 2.5em;
    width: 4.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    margin-bottom: 0.5rem;
    border-radius: 10% 10% 10% 10%;
    border: none;
    background-color: cornflowerblue;
    color: white;
    font-size: 65%;
}






.main-content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #f0f0f0;
    padding: 0.9rem;
    gap: 0.4rem;
}

.cards {
    /* display: grid; */
    display: flex;
    margin: 3%;
}

.card {
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3);
    margin:  2%;
    padding: 10px;
    /* border-radius: 10% 12% 15% 15%; */
}

.super {
    /* grid-column: 1;
    grid-row: 1; */
    background-color: white;
} 
.less {
    /* grid-column: 2;
    grid-row: 1; */
    background-color: white;
}
.impossible {
    /* grid-column: 1;
    grid-row: 2; */
    background-color: white;
}
.easy {
    /* grid-column: 2;
    grid-row: 2; */
    background-color: white;
}
.ad {
    /* grid-column: 1;
    grid-row: 3; */
    background-color: white;
}
.money {
    /* grid-column: 2;
    grid-row: 3; */
    background-color: white;
} 
.seven {
    /* grid-column: 3;
    grid-row: 1/3; */
    background-color: white;
}
.eight {
    /* grid-column: 3;
    grid-row: 3; */
    background-color: white;
}