.wrapper {
   
}

.main-grid {
    padding: 0.1%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
}

.nav-item {
    padding: 10px;
}

nav {
    grid-row: 1/ 3;
}


.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.super {
    grid-column: 1;
    grid-row: 1;
} 
.less {
    grid-column: 2;
    grid-row: 1;
}
.impossible {
    grid-column: 1;
    grid-row: 2;
}
.easy {
    grid-column: 2;
    grid-row: 2;
}
.ad {
    grid-column: 1;
    grid-row: 3;
}
.money {
    grid-column: 2;
    grid-row: 3;
}