.wrapper {
   font-size: 1.5em;
}

.main-grid {
    padding: 0.1%;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(2, 1fr);
}

.nav-item {
    padding: 10px;
}

nav {
    grid-column: 1;
    grid-row: 1/ 3;
}

.dashboard {
    padding-bottom: 20%;
} 
.communities {
    padding-bottom: 20%;
}


.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #f0f0f0;
}

.header-child {
    align-self: end;
    justify-self: end;
}


.btn {
    height: 2.5em;
    width: 4.5rem;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    border-radius: 10% 10% 10% 10%;
    background-color: cornflowerblue;
    color: white;
    font-size: 65%;
}






.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #f0f0f0;
}

.card {
    background-color: #cbcaca; 
}

.super {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
} 
.less {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
}
.impossible {
    grid-column: 1;
    grid-row: 2;
    background-color: white;
}
.easy {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
}
.ad {
    grid-column: 1;
    grid-row: 3;
    background-color: white;
}
.money {
    grid-column: 2;
    grid-row: 3;
    background-color: white;
} 
.seven {
    grid-column: 3;
    grid-row: 1/3;
}
.eight {
    grid-column: 3;
    grid-row: 3;
}